<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="about:blank" />
    <title>TVCharts</title>
    <script src="https://tvcharts.s3-us-west-2.amazonaws.com/data.json"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  </head>
  <body class="text-center">
    <div id="app">
      <div class="container">
        <div class="row mt-4">
          <div class="col-sm">
            <h1>tvcharts</h1>
          </div>
        </div>
        <div class="row mt-2 mb-5 flex justify-content-center">
          <div class="col-2">
            <div class="input-group">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button
                  type="button"
                  :class="{btn: true, 'btn-secondary': true, active: sortMode == 'new'}"
                  v-on:click="sortMode = 'new'"
                >
                  New
                </button>
                <button
                  type="button"
                  :class="{btn: true, 'btn-secondary': true, active: sortMode == 'fresh'}"
                  v-on:click="sortMode = 'fresh'"
                >
                  Fresh
                </button>
                <button
                  type="button"
                  :class="{btn: true, 'btn-secondary': true, active: sortMode == 'best'}"
                  v-on:click="sortMode = 'best'"
                >
                  Best
                </button>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="form-check form-switch ml-4 align-middle pt-2">
              <input
                class="form-check-input"
                type="checkbox"
                v-model="onlyGreen"
                id="flexSwitchCheckDefault"
              />
              <label class="ml-1 form-check-label" for="flexSwitchCheckDefault"
                >Only Green</label
              >
            </div>
          </div>
        </div>
        <div class="row row-cols-auto g-4">
          <div class="col" v-for="s in filteredSeries" :key="s.tconst">
            <a
              :href="'https://imdb.com/title/' + s.tconst"
              target="_blank"
              style="color: inherit; text-decoration: none;"
            >
              <div class="card h-100" style="width: 185px;">
                <img
                  :src="'https://image.tmdb.org/t/p/w185' + s.poster"
                  width="185px"
                  class="card-img-top"
                />
                <div class="card-body">
                  <p class="card-text">
                    <span :style="'color:' + colorRating(s)">&#x25CF;</span>
                    {{ s.primaryTitle }}
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          ...{
            sortMode: "new",
            filterGenres: [
              "News",
              "Game-Show",
              "Talk-Show",
              "Reality-TV",
              "Sport",
            ],
            limit: undefined,
            onlyGreen: true,
          },
          ...data,
        },
        methods: {
          daysSince: function (date) {
            return (this.today - new Date(date)) / 86400000;
          },
          freshScore: function (series) {
            return series.score - this.daysSince(series.last_date) * 0.1;
          },
          newScore: function (series) {
            return series.score - (this.daysSince(series.first_date) * 0.3) / 7;
          },
          colorRating: function (series) {
            let score = (series.score || 0).toFixed(1);
            if (score >= this.scoreQuantiles["85"].toFixed(1)) {
              return "green";
            } else if (score >= this.scoreQuantiles["65"].toFixed(1)) {
              return "lightgreen";
            } else if (score >= this.scoreQuantiles["40"].toFixed(1)) {
              return "yellow";
            } else {
              return "red";
            }
          },
        },
        computed: {
          today: function () {
            return new Date();
          },
          bestSeries: function () {
            return this.series.sort((a, b) => b.score - a.score);
          },
          freshSeries: function () {
            return this.series.sort(
              (a, b) => this.freshScore(b) - this.freshScore(a)
            );
          },
          newSeries: function () {
            return this.series.sort(
              (a, b) => this.newScore(b) - this.newScore(a)
            );
          },
          sortedSeries: function () {
            return this.sortMode === "best"
              ? this.bestSeries
              : this.sortMode === "fresh"
              ? this.freshSeries
              : this.sortMode === "new"
              ? this.newSeries
              : this.series;
          },
          filteredSeries: function () {
            return this.sortedSeries
              .filter((s) => !!s.poster && !!s.score)
              .filter(
                (s) => !this.filterGenres.some((g) => s.genres.includes(g))
              )
              .filter(
                (s) =>
                  !this.onlyGreen ||
                  (s.score || 0).toFixed(1) >=
                    this.scoreQuantiles["65"].toFixed(1)
              )
              .slice(0, this.limit);
          },
        },
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
